<!-- 个人中心 -->

<header class='personal-header'>
        <div class='personal-header-logo'>
            <img src='https://sxsimg.xiaoyuanzhao.com/static/img/default/default_headpic.png'>
        </div>
        <div class='personal-header-tag'>壮志雄心一定是茫茫黑夜中的北斗星</div>
    </header>
    <div class='personal-list'>
        <ul>
            <li class='personal-list-send'>
                <a href='http://localhost:8080/mysume.html'>
                    <i></i>
                    我的投递
                </a>
            </li>
            <li class='personal-list-collect'>
                <a href='http://localhost:8080/mysume.html'>
                    <i></i>
                    我的收藏
                </a>
            </li>
            <li class='personal-list-resume'>
                <a href='http://localhost:8080/mysume.html'>
                    <i></i>
                    我的简历
                </a>
            </li>
        </ul>
        <ul>
            <li class='personal-list-invite'>
                <a href='http://localhost:8080/mysume.html'>
                    <i></i>
                    职位邀约
                </a>
                
            </li>
            <li class='personal-list-service'>
                <a href='http://localhost:8080/mysume.html'>
                    <i></i>
                    我的客服
                </a>
            </li>
            <li class='personal-list-set'>
                <a>
                    <i></i>
                    退出账号
                </a>
            </li>
        </ul>
    </div>