    <div class='header'>
        <div class='swiper-container'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src='https://sxsimg.xiaoyuanzhao.com/01/E6/01AB8D52BF9F1AB6EA831AC9555DB4E6.png'>
                </div>
                <div class="swiper-slide">
                    <img src='https://sxsimg.xiaoyuanzhao.com/F0/FB/F0F76C0447B932321D53E46F5FB1C9FB.png'>
                </div>
                <div class="swiper-slide">
                    <img src='https://sxsimg.xiaoyuanzhao.com/25/28/2537179CF522C342DACD707F3D73BF28.png'>
                </div>
                <div class="swiper-slide">
                    <img src='https://sxsimg.xiaoyuanzhao.com/AC/C3/AC47D62C65455B6AC87E02B0CE71D9C3.png'>
                </div>
                <div class="swiper-slide">
                    <img src='https://sxsimg.xiaoyuanzhao.com/37/5D/3775DACD237A0F9E63E8D0FA4D800F5D.png'>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class='nav'>
        <a class='nav-items' href="#/job">
            <img src='https://sxsimg.xiaoyuanzhao.com/static/sxs-wap/img/bar-icon1.png?v=003490370e820aa04da4456274752651'>
            <span>短期实习</span>
        </a>
        <a class='nav-items' href="#/job">
            <img src='https://sxsimg.xiaoyuanzhao.com/static/sxs-wap/img/bar-icon2.png?v=c8d8540ecd03c8612fbd345253f7158a'>
            <span>一周两天</span>
        </a>
        <a class='nav-items' href="#/job">
            <img src='https://sxsimg.xiaoyuanzhao.com/static/sxs-wap/img/bar-icon3.png?v=0c3f223e76f64e5ec4796609890f587a'>
            <span>转正机会</span>
        </a>
        <a class='nav-items' href="#/job">
            <img src='https://sxsimg.xiaoyuanzhao.com/static/sxs-wap/img/bar-icon4.png?v=80621aa6ef0a03e91a9c25f331f6f26b'>
            <span>日薪200</span>
        </a>
    </div>
    <div class='bscroll'>
        <div>
        
            <div class='list'>
                <div class='list-img'>
                    <img class='loding' src='./static/img/loding.gif'>
                </div>
            </div>

            <div class="scroll-info--bottom scroll-info">
                <i class="iconfont icon-loading"></i>
                <a class="scroll-info__title">正在加载...</a>
            </div>
        </div>
    </div>