<!--可变化部分-->
<div class="home-container">

</div>

<!--尾部-->
<div class='footer'>
    <div class='footer-item'>
        <a  href="#/home_job">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shouye"></use>
            </svg>
            <span>首页</span>
        </a>
    </div>
    <div class='footer-item'>
        <a href="#/job">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-dengpao"></use>
            </svg>
            <span>职业</span>
        </a>
    </div>
    <div class='footer-item'>
        <a class='tap-this' href="#/personal">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            <span>我的</span>
        </a>
    </div>
</div>
</div>