
    <!--头部-->
    <header class="head">
        <div class="tab-wrap">
            <div class="type-tab-wrap ">
                <div class="type-tab">类型</div>
                <div class="type-tab">地点</div>
                <div class="type-tab">日薪</div>
                <div class="type-tab">学历</div>
                <div class="more-type">......</div>
            </div>
            <div class="type-tab-wrap more-tab-wrap height0">
                <div class="type-tab">每周实习天数</div>
                <div class="type-tab">实习月数</div>
                <div class="more-type">......</div>
            </div>
        </div>
    </header>
    <!--隐藏列表-->
    <!-- <aside class="tab-detail-wrap">       
    </aside> -->
    <div class="content">
        <ul class="list-box">
            
        </ul>
    </div>
