<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>职位页</title>
</head>

<body>
    <!--头部-->
    <header class="head">
        <div class="tab-wrap">
            <div class="type-tab-wrap ">
                <div class="type-tab">类型</div>
                <div class="type-tab">地点</div>
                <div class="type-tab">日薪</div>
                <div class="type-tab">学历</div>
                <div class="more-type">......</div>
            </div>
            <div class="type-tab-wrap more-tab-wrap height0">
                <div class="type-tab">每周实习天数</div>
                <div class="type-tab">实习月数</div>
                <div class="more-type">......</div>
            </div>
        </div>
    </header>
    <!--隐藏列表-->
    <!-- <aside class="tab-detail-wrap">       
    </aside> -->
    <div class="content">
        <ul class="list-box">
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
            <li class="list-job">
                <a class="list-job-item">
                    <img class="left" src="https://sxsimg.xiaoyuanzhao.com/B8/FF/B80A252C4D72887FFC0FFAE66DAB6BFF.jpg">
                    <div class="midder">
                        <span>店务秘书</span>
                        <span>成都/每周5天</span>
                        <span>麦地不动产</span>
                    </div>
                    <div class="right">
                        <span>10-13-14:10</span>
                        <span>￥100-150/天</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>