<!--头部-->
<header class="head">
    <div class="tab-wrap">
        <div class="type-tab-wrap ">
            <div class="type-tab">类型</div>
            <div class="type-tab">地点</div>
            <div class="type-tab">日薪</div>
            <div class="type-tab">学历</div>
            <div class="more-type">......</div>
        </div>
        <div class="type-tab-wrap more-tab-wrap height0">
            <div class="type-tab">每周实习天数</div>
            <div class="type-tab">实习月数</div>
            <div class="more-type">......</div>
        </div>
    </div>
</header>
<!--隐藏列表-->
<aside class="tab-detail-wrap"> 
    <div class="detail-wrap">
        <ul class="left">
            <li class="active">不限</li>
            <li>IT互联网</li>
            <li>市场商务</li>
            <li>电子电气</li>
            <li>其他类型</li>
            <li>人事行政</li>
            <li>外语外贸</li>
            <li>财经法务</li>
        </ul>
        <div class="middle">
            <ul>
                <li>软件</li>
                <li>运营</li>
                <li>硬件</li>
                <li>设计</li>
                <li>通信</li>
                <li>产品</li>
            </ul>
        </div>
    </div>
    <div class="hide-click">

    </div>        
</aside>
<div class="content wrapper">
    <div>
        <ul class="list-box">
            
        </ul>
        <div class="dropload-down">
            <div class="dropload-refresh">
                <span>↑</span>
                <span>上拉加载更多</span>
            </div>
        </div>

        <!-- <div class="dropload-load">
                <span class="loading"></span>
                <span>加载中...</span>
            </div> -->
    </div>
</div>