.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;
    .swiper-container{
        width: 100%;
        height: 4rem;
    }
    .swiper-wrapper{
        height: 100%;
        width: 100%;
    }
    .swiper-slide{
        height: 100%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .swiper-pagination{
        bottom: .466667rem !important;
    }
    .swiper-pagination-bullet{
        height: .213333rem;
        width: .213333rem;
    }
    .swiper-pagination-bullet-active{
        background: #fff;
    }
}
.nav{
    width: 100%;
    position: fixed;
    top: 4rem;
    left:0;
    z-index: 100;
    background-color: #fff;
    height: 2.666667rem;
    display: flex;
    justify-content: space-around;
    padding-top: .346667rem;
    .nav-items{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 1.28rem;
        }
        span{
            margin-top: .2rem;
            font-size: .4rem;
            color: #5a647a;
        }
    }
}
.list{
    background-color: #fff;
    padding: .186667rem .466667rem 0;
    .list-img{
        padding-bottom: 2rem;
    }
    .loding{
        width: 9.333333rem;
        margin: .666667rem auto 1.333333rem ;
    }
    .lists{
        padding-bottom: .466667rem;
        margin-bottom: .4rem;
        border-bottom: 1px solid #ebeff2;
        display: flex;
        .lists-left{
            width: 1.6rem;
            height: 1.6rem;
            img{
                width: 1.6rem;
                height: 1.6rem;
            }
        }
        .lists-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            margin-left: .266667rem;
            .lists-right-top{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .lists-top-p1{
                    font-size: .426667rem;
                    color: #5a647a;
                }
                .lists-top-p2{
                    font-size: .32rem;
                    color: #d2dbef;
                }
            }
            .lists-right-center{
                color:#bdc9da;
                font-size: .333333rem;
            }
            .lists-right-bottom{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                font-size: .333333rem;
                color: #d2dbef;
                .lists-bottom-span3{
                    font-size: .373333rem;
                    color: #f96969;
                    font-weight: bold;
                }
            }
        }
    }
}
.footer{
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 .426667rem 0 rgba(103, 103, 103, 0.13); 
    height: 1.306667rem;
    display: flex;
    font-size: .373333rem;
    justify-content: space-around;
    .footer-item{
        a{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                font-size: .333333rem;
            }
        }
    }
    .icon {
        width: .666667rem; height: .666667rem;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
     }
}
.bscroll{
    position: absolute;
    width: 100% ;
    top: 7.333333rem;
    left: 0;
    bottom: 1.333333rem ;
}
.scroll-info{
    height: 1.066667rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-info__title{
    color: rgb(0, 183, 255);
}
.job-list-a{
    overflow: hidden;
}